.cardWrapper {
    margin-top: 45px;
  h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
}

.rowWrapper {
  text-align: center;

  img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
}

.wrapper{
    margin: 45px 0;
}
