.wrapper {
  background-color: #fff;
  text-align: center;
  position: sticky;
  top:0;
  left:0;
  height: 65px !important;
  line-height: 65px !important;
  z-index: 20;
}

.brand{
  line-height: normal !important;
}

.brand a {
  font-size: 22px;
}

.brand div {
  font-size: 14px;
  white-space: nowrap;
}

.menu {
  display: flex;
  align-items: center;
  height: 65px !important;
  z-index: 21;
}

.bold a {
  display: flex !important;
  align-items: center;
  padding: 0 15px !important;
}

.bold span {
  margin-left: 20px;
  font-size: 15px;
  color: #333333;
}
